.archive-header {
  @extend %white-box;
  margin-bottom: $baseline-height;

  h1 {
    font-size: 1em;
    line-height: 1.5;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
  i {
    margin-right: 2px;
  }
}