.more-link {
  @extend %light-link;
  display: inline-block;
  padding: 12px 24px;
  background: $color-purple;
  font-weight: 400;
  font-style: italic;
  transition: background 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    background: $color-purple-light;
  }
  &:after {
    content: '\f101';
    font-family: "FontAwesome";
    margin-left: 3px;
    font-style: normal;
  }
}
.sticky-status {
  @extend %twelve-pixels;
  position: absolute;
  top: 0;
  left: 0;
  background: $color-gray-10;
  color: white;
  display: inline-block;
  padding: 9px 16px;
}
.sticky:not(.has-post-thumbnail) {
  padding-top: $baseline-height;
}

@media all and (min-width: $eight-hundred) {

  .more-link {
    margin-top: $baseline-height / 2;
  }
}