.more-link {
  @extend %light-link;
  display: inline-block;
  padding: 12px 24px;
  margin-top: $baseline-height / 2;
  background: $color-purple;
  font-weight: 400;
  font-style: italic;
  transition: background 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    background: $color-purple-light;
  }
  &:after {
    content: '\f101';
    font-family: "FontAwesome";
    margin-left: 3px;
    font-style: normal;
  }
}