.site-header {
  background: white;
  padding: $baseline-height $column;
  margin: $baseline-height 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
.site-title {
  font-family: $site-title-font;
  @extend %twenty-one-pixels;

  a {
    @extend %dark-link;
  }
}