.site-header {
  background: white;
  padding: $baseline-height $column * 1.5;
  margin: $baseline-height 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);

  &:after {
    @include clearfix;
  }
}
.site-title {
  @extend %twenty-one-pixels;
  font-family: $damion;
  float: left;

  a {
    @extend %dark-link;
    display: inline-block;
  }
  &.has-logo {
    line-height: 0;
  }
}
.logo {
  max-width: 100%;
  width: 168px;
  height: auto;
}
.tagline {
  @extend %twenty-one-pixels;
  font-family: $damion;
  margin: 36px auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.social-media-icons {
  list-style: none;
  margin: $baseline-height * 1.5 auto;

  li {
    display: inline-block;
    margin-right: $baseline-height / 2;

    &:last-child {
      margin-right: 0;
    }
  }
  a {
    @extend %light-link;
    @extend %twenty-one-pixels;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border: solid 1px white;
    border-radius: 50%;
    transition: background 0.2s ease, border 0.2s ease;

    &:hover,
    &:active,
    &:focus {
      background: $color-purple-dark;
      border-color: $color-purple-dark;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .site-header {
    padding: $baseline-height $column * 2;
  }
  .site-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.357; /* 38px */
  }
}