.toggle-navigation {
  position: relative;
  z-index: 109;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  float: right;
  height: 24px;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  svg {

    g {
      fill: $color-gray-10;
    }
    rect {
      opacity: 1;
      transition: transform 0.2s ease, opacity 0.2s ease, x 0.2s ease, y 0.2s ease, width 0.2s ease, height 0.2s ease;
    }
  }
  &.open {

    svg {

      g {
        fill: white;
      }
      .rect1 {
        transform: rotate(45deg);
        y: -3px;
        x: 3px;
      }
      .rect2 {
        opacity: 0;
        width: 0;
        height: 0;
        x: 11px;
      }
      .rect3 {
        transform: rotate(-45deg);
        y: 14px;
        x: -10px;
      }
    }
  }
}
.menu-primary-container {
  position: absolute;
  z-index: -99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(146,70,119,0.9);
  padding: $baseline-height * 4 $column * 2.5 $baseline-height;
  color: white;
  text-align: center;
  margin: $baseline-height / 2;
  opacity: 0;
  transition: margin 0.2s ease;

  &.open {
    z-index: 99;
    opacity: 1;
    margin: 0;

    .menu-primary,
    .tagline {
      opacity: 1;
    }
  }
}
.menu-primary {
  margin: $baseline-height * 1.5 auto;
  opacity: 0;
  transition: opacity 0.4s ease;

  ul {
    margin: $baseline-height 0;
    list-style: none;
  }
  li {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: $baseline-height;

    &.current-menu-item,
    &.current_page_item {

      a {
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 10px;
          width: 12px;
          height: 2px;
          background: white;
        }
        &:before {
          right: -18px;
        }
        &:after {
          left: -18px;
        }
      }
    }
  }
  a {
    @extend %light-link;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  /***** Tier 2 *****/
  ul ul {
    min-width: 345px;
    max-height: 0;
    margin: 0 auto;
    background: rgba(0,0,0,0.1);
    overflow: hidden;

    li {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  li.open {

    > ul {
      display: table;
      max-height: none;
      margin: $baseline-height auto 0;
      padding: $baseline-height;
    }
    > button i {
      transform: rotate(180deg);
    }
  }
}
.toggle-dropdown {
  position: absolute;
  background: none;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  font-size: 1em;
  width: $baseline-height;
  height: $baseline-height;
  margin-left: 8px;
  transition: background 0.2s ease, border-color 0.2s ease;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &:active,
  &:focus {
    background: $color-purple-dark;
    border-color: $color-purple-dark;
  }
}

@media all and (min-width: $eight-hundred) {

  .toggle-navigation {
    height: 37px;
  }
}