@import "variables";

.upgrades-ad {
  text-align: center;
  border-bottom: solid 1px #eee;

  a {
    display: block;
    padding: 9px 0;
    color: white;
    background: #43b3c4;
    transition: background 0.15s ease-in-out;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus  {
      color: white;
    }
    &:hover,
    &:active,
    &:focus {
      background: #3ea5b3;

      span {
        right: -3px;
      }
    }
  }
  span {
    position: relative;
    right: 0;
    transition: right 0.15s ease-in-out;
  }
}
// Tribes Pro section
#accordion-section-ct_tribes_pro {

  .accordion-section-title {
    color: #fff;
    background: #43b3c4;

    &:after {
      color: #fff;
    }

    &:hover,
    &:active,
    &:focus {
      background: #3EA7B8 !important;
      color: #fff !important;

      &:after {
        color: #fff !important;
      }
    }
  }
}
#customize-control-tribes_pro {

  ul {
    list-style: disc;
    padding-left: 15px;
  }
  .bold {
    font-weight: 600;
  }
  .button-wrapper {
    text-align: center;
  }
  .tribes-pro-button {
    display: inline-block;
    font-size: 14px;
    padding: 12px 24px;
    background: #F4923A;
    color: #fff;
    border-radius: 3px;
    border-left: solid 2px #CC8437;
    border-right: solid 2px #CC8437;
    border-bottom: solid 4px #CC8437;

    &:hover,
    &:active,
    &:focus {
      background: #ff9233;
    }
  }
}