@import "variables";
@import "base";

.mce-content-body {
  font-size: 16px;
  line-height: 1.5;
  max-width: 620px;
  margin: 12px 8.332%;
  background: white;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

@media all and (min-width: $eight-hundred) {

  .mce-content-body {
    margin: 12px auto;
  }
}